@charset "UTF-8";

body {font-size:14px;
line-height:1.8; 
color: #333;}

h1 {text-decoration: underline;}

.box {
border: 2px dashed;
color: #333; }

#basic {
background-color:skyblue; 
width: 500px;
margin: 1em auto;
padding: 1em;}

























