@charset "UTF-8";

body {background-image: url("img/cat.jpg");
background-repeat: repeat;
background-size:cover; 
background-position:-200px 50%; 
background-attachment: fixed;}

h2 {margin-top: 5em;}
ol {line-height: 1.8;
font-size: 1.25em;}

pre {font-family: sans-serif;
line-height: 1.6;
padding: 1em;
background-image: url("img/mythical.jpg");
background-size: 100% 100%;
background-position: 0 100%;}

pre:hover {
background-size: 200% 200%;
background-position: 0 20%;
transition:2s;}

.li01 {
background-color: rgb(255,255,0);}

.li02 {
background-image: url("img/cat.jpg");	
color: #fff;} 


section>p {
border: 3px solid #070;	
width: 500px; height: 300px;
display: inline-block;
overflow: auto;
font-size: 1.5em;
background-image: url("img/drop.jpg");
background-size: cover;}

.att01 {background-attachment: scroll;}
.att02 {background-attachment: fixed;}
.att03 {background-attachment: local;}


/* 배경이미지 2개 적용 */
#sec02 {height: 800px;
background-image: url("img/sea.jpg"), url("img/backpack.jpg");
background-repeat: no-repeat;	
background-position: 0 0 , 100% 0;}














