@charset "UTF-8";
/* box-sizing 요소의 크기 계산법 */
/*
   * {margin: 0; padding:0;
 [css초기화코드]
     전체선택자로 모든 요소를 불러와서
     기본여백을 모두 0으로 처리함

 box-sizing: border-box;
 초기화시에 필요에 따라 box-sizing도
 함께 넣을 수 있음 }
*/

#box>li:first-line {
/* A:first-line은 
요소 A의 첫 줄을 불러오는 선택자 */	
 font-size: 1.2em;
 font-weight: bold;	
}

#box>li {border: 3px solid #050;
width: 550px;  height: 100px;
padding:20px;
color: #fff;} 

.cont {background-color: #e00;
 box-sizing: content-box;}
.brdr {background-color: #00e;
 box-sizing: border-box;}




#box-2 {border: 2px solid #00d;
width: 1000px;
height: 300px;}

#box-2>div { border: 5px solid;
background-color: #9af;
width: 500px; height: 300px;
padding: 30px;	
display: inline-block;
box-sizing: content-box;}

#box-2:hover>div {
 box-sizing: border-box;}











