@charset "UTF-8";

* {margin: 0; padding: 0;}

header {border: 1px solid;
height: 200px;
background-image: 
url("img/abend.jpg");
background-size: cover;
background-position: center center;}

#logo {border: 1px solid red;
float: left;
margin-top:50px; 
margin-left: 20px;}
#rgt {border: 1px solid red;
float: right;
margin-top:30px;
margin-right: 20px;}

article {border: 1px solid red;
width: 70%; height: 600px;
display: inline-block;
box-sizing: border-box;
vertical-align: top;}
section {border: 1px solid orange;
height: 180px;}
	
#sec01, #sec02, #sec03 {
float: left;			
width: 30%;
margin-left: 3%;
margin-bottom:10px;
padding: 1em;
box-sizing: border-box; }

#sec04 {background-color: #37f;}

#sec05, #sec06 {
 float: left; 	
 margin-left: 1.6%;
 padding: 1em;
 box-sizing: border-box;} 
#sec05 {width: 40%;}
#sec06 {width: 55%;}

.clear {clear: both;}

aside {border: 1px solid blue;
width: 30%; height: 600px;
display: inline-block;
box-sizing: border-box;}

footer {border: 1px solid;
background-color:#590;
height: 100px;}






























