@charset "UTF-8";
/* html {font-size: 12px;}
rem단위의 기준이 되는 최상위요소는
html태그임
 */
body {
background-color:#dedede;
color: #333;
font-family: 'Nanum Gothic', sans-serif; }
	
	/* font-size 글자 크기 */
#sec01 {font-size: 20px;}

.fs01 {font-size: 16px;}
.fs02 {font-size: 12px;}
.fs03 {font-size: 20px;}
.fs04 {font-size: 1em; }
.fs05 {font-size: 0.75em;}
.fs06 {font-size: 1.25em;}
.fs07 {font-size: 1rem;}
.fs08 {font-size: 0.75rem;}

 /* font-weight 글자 두께 */
.fw01 {font-weight: 100;}
.fw02 {font-weight: 200;}
.fw03 {font-weight: 300;}
.fw04 {font-weight: 400;}
.fw05 {font-weight: 500;}
.fw06 {font-weight: 600;}
.fw07 {font-weight: 700;}
.fw08 {font-weight: 800;}
.fw09 {font-weight: 900;}
.fw-b {font-weight: bold;
color: #800;}
.fw-n {font-weight: normal;}


/* font-style  글자 기울기 */
.fst01 {font-style:italic;}
.fst02 {font-style:oblique;}

#sec03>i, #sec03>em {
/* 그룹선택자 A, B, C,... 는 
A와 B, C등을 동시에 불러와서 
같은 스타일을 적용함 */	
	color: #007;}

#sec03>i:hover {
/* 상태선택자 A:hover는
 A에 마우스오버한 상태일 때를 지정 */
font-style: normal;}




#sec03>em:hover {
font-style: normal;
color: #333;}


/* font-family 글꼴(서체) */

.ffm01 {
font-family: "Helvetica", "Verdana", sans-serif;}
.ffm02 {font-family: "Garamond", "Times New Roman", "Georgia", serif;}
.ffm03 {font-family: "Brush Script MT", "Lucida Handwriting", cursive; }
 /* fonts.google.com 
font-family: 'Do Hyeon', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Stylish', sans-serif; 

font-family: 'East Sea Dokdo', cursive;
font-family: 'Hi Melody', cursive;
  */
.ffm04 {font-family: 'Do Hyeon', sans-serif;}
.ffm04>span {font-family: 'East Sea Dokdo', cursive;
 font-weight: normal;}
.ffm05>span {font-family: 'Stylish', sans-serif; }
  
.ffm06>span {font-family: 'Hi Melody', cursive;}

























