@charset "UTF-8";

* {margin: 0;  padding: 0;}

#wrap {border: 1px solid red;
 width: 1000px;
 overflow: hidden; /* 자식들이 float으로
 빠져나간 부모의 형태(높이) 유지용도 */
 margin: 0 auto;/* 양쪽 margin을 항상 같게 하여
 정중앙에 정렬 */ }

#top {border: 1px solid blue;
width: 400px;	height: 40px;	
float: right; /* 우측에 배치 */}

.logo {border: 1px solid skyblue;
clear: both;/* float의 영향을 해제하여 제자리로 */
float: left;/* 나란히 좌측에 배치  */
margin-top: 20px; /* 바깥여백으로 위치 조절 */}

nav {float: left;
margin-left: 150px;
margin-top: 20px;}

nav>ul {list-style: none;/* 목록 앞의 모양=제거 */ }
nav li {float: left;
 margin-right: 60px;}
 
nav a {text-decoration: none;/* 
 링크 걸린 텍스트의 밑줄=제거*/ 
font-size: 1.5em;
font-weight: bold;}  

nav a:link, nav a:visited {
/* 초기링크상태, 방문한 링크상태 동시 지정*/	
color: #333; }

nav a:hover, nav a:active {
/* 후버상태, 활성화 링크상태 동시 지정
(윗부분보다 뒤에 추가해야 함,
 윗부분 없이 쓸 수 없음)*/	
color: #f33; }

.pharm {
float: right; 
margin-top: 30px;}

article {border: 1px solid orange;
clear: both;}

section {border: 1px solid olive;
float: left;
width: 30%; height: 500px; }

footer {border: 1px solid orange;
clear: both; 
 height: 100px;}


















