@charset "UTF-8";

.h2-01 {background-color: #390;
border-left:10px solid;
margin: 2em auto;
/* 또는
margin-left: auto;
margin-right: auto; 로
좌우 margin을 auto로 항상 같게 하면 요소가
항상 수평으로 중앙정렬 됨!
*/
padding:0.3em;
width:400px;
color: #9d4;
}

#mg-n>li {border: 1px solid red;}

.mg-n01 {margin: 14px;}
.mg-n02 {margin: 20px 0;}
.mg-n03 {margin: 20px 0 30px;}
.mg-n04 {margin: 30px 40px 50px 60px;}




#mg-d>li {border: 1px solid blue;}

.mg-d01 {margin-top: 2em;}
.mg-d02 {margin-right: 2em;}
.mg-d03 {margin-bottom: 2em;}
.mg-d04 {margin-left: 2em;}

b {border: 1px solid blue;
margin: 30px;}

	
nav>a {margin: 1em;
background-color: #000;
color: #fff	;}




















