@charset "UTF-8";

#sec01, #sec02 {float: left;
 width: 40%;
 margin-left: 2%;}
 
#sec03 {clear: both;}

#sec03, #sec04 {float: left;
width: 40%;
margin-left: 3%;
margin-top: 8em;}

section>p {
border: 1px solid red;
width: 450px; height: 400px;}
/* 영역 밖의 컨텐츠 처리법 */
#sec01>p {overflow: visible;}
#sec02>p {overflow: hidden;}
#sec03>p {overflow: scroll;}
#sec04>p {overflow: auto;}

#sec02:hover>p {
/*  overflow: auto; */
 }
#sec02>p>img { 
 height: 620px;}
#sec02:hover>p>img {
 height: 400px;
 transition:1.5s;}

.clear {clear: both;}

/* 말줄임표 삼총사 속성 */
.el {
background-color: #000;
color: #eaf;	
width: 300px;
height: 20px;

white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;}

.el:hover {
 width: 100%;}














