@charset "UTF-8";

pre {font-family: sans-serif;}

/* transform:translate 위치 변형*/
#sec01>div {
border: 1px solid red;	
width: 200px;}

.tr01 {
transform:translateX(800px);}
.tr02 {
transform:translateX(-200px);}
.tr03 {
transform:translateY(-150px);}
.tr04 {
transform:translateY(4em);}

#sec01:hover>.tr05 {
transform:translate(10em,-5em);} 

#sec01:hover>.tr06 {
transform:translate(-3em,100px);
transition:2s;}

#sec01 {overflow: hidden;
height: 600px;
position: relative;
/* 기준이 되기 위한 상위요소의 조건 */}

.cen {
background-color: #aff;
height: 100px;
position: absolute;
/*  상위요소 기준으로 위치 지정*/
left:50%; top:50%; /* 중앙에서 시작 */	
transform:translate(-50%,-50%);
/* 자신의 크기 절반만큼 앞,위로 이동 */}


/* transform:scale(n); 크기 변형 */
#sec02>div {
border: 3px solid #085;
width: 320px;
display: inline-block;
margin: 5em;	}

#sec02:hover>.sc01 {
 transform:scaleX(2);} 
#sec02:hover>.sc02 {
transform:scaleX(0.5);}
#sec02:hover>.sc03 {
 transform:scaleY(1.5);} 
#sec02:hover>.sc04 {
transform:scaleY(0.3);}
#sec02:hover>.sc05 {
transform:scale(1.3,1.3);}

.sc06 {overflow: hidden;}
.sc06>img {opacity:0.3;
transform:scale(3,3);
display: block;
z-index: 49;}

.sc06:hover>img {
 opacity:1;
transform:scale(1,1);
transition:2s;}

.sc06>b {opacity:1;
 font-size: 1.5em;
 display: block;
 transform:translate(0,250px);
 z-index:50;}
.sc06:hover>b {
transform:translate(0px,-60px);
transition:1.5s;	
}



/* transform:rotate(n); 회전 변형 */

#sec03 {overflow: hidden;}

#sec03>div, #sec04>div {
border: 1px solid #05d;	
width: 320px;
float: left;
margin: 3.5em;}

#sec03:hover>div {
transition:1.5s;}

#sec03:hover>.ro01 {
transform:rotate(360deg); }
#sec03:hover>.ro02 {
transform:rotate(-360deg);}
#sec03:hover>.ro03 {
transform:rotate(180deg);}
#sec03:hover>.ro04 {
transform:rotateX(90deg);}
#sec03:hover>.ro05 {
transform:rotateY(90deg);}
#sec03:hover>.ro06 {
transform:rotateY(180deg);}

.ro07 {overflow: hidden;}
.ro07:hover>img {
transform:rotate(1080deg);
transition:1.5s;}



/* transform:skew(n); 기울기 */
#sec04 {overflow: hidden;}

.sk01:hover {
transform:skewX(30deg);}
.sk02:hover {
transform:skewX(-30deg);}
.sk03:hover {
transform:skewY(30deg);}
.sk04:hover {
transform:skewY(-30deg);}
.sk05:hover {
transform:skew(30deg,30deg);}

.sk06 {overflow: hidden;}
.sk06>img {
transform:skew(-40deg,-45deg);}
.sk06:hover>img {
transform:skew(0,0);
transition:1.5s;}
#sec05 {height: 600px;}

#sec05>div {
 border: 1px solid;
 width: 150px;
 margin-top: 200px; 
 margin-left: 300px;}

.mx01 {background-color: #fa7;}
.mx02 {background-color: #7af;}

#sec05:hover>.mx01 {
 transform:translate(1000px,0) rotate(1080deg);
transition:2.5s; }
#sec05:hover>.mx02 {
transform:rotate(1080deg) translate(1000px,0) ;
transition:2.5s; }


/* transform-origin: ; */
#sec06 {height: 600px;}
#sec06>div {
border: 1px solid #05d;	
width: 320px;
float: left;
margin: 3.5em;}

#sec06:hover>.sc01 {
transform:scaleX(2); }
#sec06:hover>.sc02 {
transform:scaleY(2); }

.ori01 {
transform-origin: 0 0;}
.ori02 {
transform-origin: 0 100%;}

#sec06:hover>.ro01 {
transition:2.5s;
transform:rotate(720deg);}

.ori03 {
transform-origin: 1000px 0; 	
}









